{% extends "base.html" %}
{% load i18n l10n %}
{% block extrajs %}
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true">
</script><!--
<script type="text/javascript"
        src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script> -->
<script type="text/javascript"
        src="{{ STATIC_URL }}js/jquery.fn.gmap.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}js/jquery.ui.map.services.js"></script>
<script type="text/javascript"
        src="{{ STATIC_URL }}js/jquery.ui.map.microformat.js"></script>


<script type="text/javascript">
$(function(){
   $('#google-maps-location').gmap({ 'center': new google.maps.LatLng({% if form.is_valid %}{{ form.cleaned_data.position }}{% else %}36.529688,-6.292657{% endif %}), 'zoom': 14 }).bind('init', function(ev, map) {
$('#google-maps-location').gmap('addMarker', { 'position': '{% if form.is_valid %}{{ form.cleaned_data.position }}{% else %}36.529688,-6.292657{% endif %}', 'bounds': true, 'icon': new google.maps.MarkerImage('{{ STATIC_URL }}img/here.png') }).click(function() {
            $('#google-maps-location').gmap('openInfoWindow', { 'content':
"<b>You're here!</b>" }, this)});

      {% for venue in venues %}
$('#google-maps-location').gmap('addMarker', { 'position': '{{ venue.lat|unlocalize  }},{{ venue.lng|unlocalize  }}', 'bounds': true, 'icon': new google.maps.MarkerImage('{{ STATIC_URL }}img/venue.png') }).click(function() {
            $('#google-maps-location').gmap('openInfoWindow', { 'content':
'<b>{{ venue.name }}</b></br>Checkins - <b>{{ venue.checkins }}</b></br>Users - <b>{{ venue.users }}</b>' }, this)});
{% endfor %}
    });
});
$(document).ready(function () {
   $("#container-form").css("left", $("#header .container").position().left);
});
</script>
{% endblock %}

{% block contentbody %}
<div id="google-maps-location"></div>
<div class="container" id="container-form">
  <div class="row">
    <div class="span6 form">
      <form action="{% url query %}" method="post" id="search-form">{% csrf_token %}
        <fieldset>
          <div class="search position">
            <legend>{% trans "Where are you?" %}</legend>
            <div class="clearfix {% if form.position.errors %} error {% endif %}">
              <div class="input">
                {{ form.position }}
                {% if form.position.errors %}
                <span class="help-inline">{% trans "Required field" %}</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="search categories">
            <legend>{% trans "What do you looking for?" %}</legend>
            <div class="clearfix {% if form.main_categories.errors %} error {% endif %}">
              <div class="category-title" >
                <label for="id_categories">{{ form.main_categories.label }}</label>
              </div>
              <div class="input">
                {{ form.main_categories }}
                {% if form.main_categories.errors %}
                <span class="help-inline">{% trans "Required field" %}</span>
                {% endif %}
              </div>
            </div>
          </div>
          <p class="inputRow">
            <input class="button" type="submit" value="{% trans "Search" %}" />
          </p>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span16 results">
      <div class="row">
      {% for venue in venues %}
        {% if forloop.counter == 4 or forloop.counter == 7 or forloop.counter == 10 or forloop.counter == 13 or forloop.counter == 16 or forloop.counter == 19 or forloop.counter == 22 or forloop.counter == 25 or forloop.counter == 28 or forloop.counter == 31 %}
      </div>
      <div class="row">
        {% endif %}
        <div class="span5">
          <div class="result-item">
            <h3>{{ venue.name }}</h3>
            {% if not "http://" in venue.address %}
            <p class="address">{{ venue.address}}</p>
            {% endif %}
            {% if not "http://" in venue.phone %}
            <p class="phone">{{ venue.phone }}</p>
            {% endif %}
            <p class="category">{{ venue.category }}</p>
            <div class="checkins highlighted-info">
              <h5>{{ venue.checkins }}</h5>
              <p>{% trans "Checkins" %}</p>
            </div>
            <div class="users highlighted-info">
              <h5>{{ venue.users }}</h5>
              <p>{% trans "Users" %}</p>
            </div>
            <div class="distance highlighted-info">
              <h5>{{ venue.distance }}</h5>
              <p>{% trans "Metres" %}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
