{% load i18n %}
<div class="container">
  <div class="row">
    <div class="span3 logo">
      <a href="/" title="{% trans "Home" %}">
        <img src="{{ STATIC_URL }}img/logo.png"
             alt="{% trans "Home" %}"/>
      </a>
    </div>
    <div class="span13">
      <div class="row">
        <div class="span6 offset7 social-links">
          <a href="#" title="{% trans "FourSquare" %}">
            <img src="{{ STATIC_URL }}img/icon-foursquare.png"
                 alt="{% trans "FourSquare" %}"/>
          </a>
          <a href="#" title="{% trans "Twitter" %}">
            <img src="{{ STATIC_URL }}img/icon-twitter.png"
                 alt="{% trans "Twitter" %}"/>
          </a>
          <a href="#" title="{% trans "Facebook" %}">
            <img src="{{ STATIC_URL }}img/icon-facebook.png"
                 alt="{% trans "Facebook" %}"/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="span12 offset1 slogan">
          <h1>{% trans "A simple Django-based website to use the FourSquare API" %}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
